.text-center
  = image_tag @post.image.url(:medium), class:'img-responsive'

.form-wrapper
  = simple_form_for @post, html: {class: 'form-horizontal', multipart: true} do |f|
    .form-group
      = f.input :image
    .form-group.text-center
      = f.input :caption
    .form-group.text-center
      = f.button :submit, class: 'btn-success'
.text-center.edit-links
  = link_to "Cancel", posts_path
  |
  = link_to "Edit Post", edit_post_path(@post)